


.logo_container img{
  box-sizing: border-box;
  width: 170px;
  height: 90px;
  border: 1px solid #F7F7F8;
  border-radius: 11px;
  
}

.jarto{
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(16px, 52px)
}

.jarto2{
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(224px, 52px);

}


.jarto3{
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(224px, 52px);


}


@media print {
  .hey {
    display: none;
  }

}


@media screen and (max-width: 900px) {
  .hey {
      flex-direction: column; /* Cambia la dirección de los elementos a una columna */
  }
  .mb-3 {
      margin-bottom: 1rem; /* Espacio entre elementos en la columna */
  }
  .ml-4 {
      margin-left: 1rem; /* Espacio a la izquierda de los elementos en la columna */
  }
  .w-48 {
      width: 100%; /* Ancho completo para los elementos en la columna */
  }
}